.btn-group .btn {
    color: white;
    background-color: rgb(206, 0, 0);
    border: rgb(56, 2, 2);
}

/* min for both columns */
.reservations-col, .tables-col {
    min-width: 300px; 
  }
  /* smaller screens */
  @media (max-width: 1002px) {
    .reservations-col, .tables-col {
      min-width: 100%; 
    }
  }